<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="boss" class="Boss" init-method="onCreate" destroy-method="onDestroy"></bean>
    <bean id="employee" class="Employee" init-method="onCreate" destroy-method="onDestroy"></bean>

    <bean id="myWorkService" class="WorkService">
        <property name="workManager">
            <ref bean="boss"/>
        </property>
    </bean>

    <bean id="yourWorkService" class="WorkService">
        <property name="workManager">
            <ref bean="employee"/>
        </property>
    </bean>
</beans>